<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/SRIBWatch" version="1.1.24" viewmodes="maximized">
    <tizen:application id="2em7wsm323.SRIBWatch" package="2em7wsm323" required_version="2.3.1"/>
    <tizen:category name="http://tizen.org/category/wearable_clock"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <tizen:metadata key="AccessoryServicesLocation" value="res/xml/accessoryservices.xml"/>
    <tizen:metadata key="master_app_name" value="My Gear My Style Companion"/>
    <tizen:metadata key="master_app_packagename" value="com.samsung.mygearmystyle"/>
    <tizen:metadata key="master_app_samsungapps_deeplink" value="samsungapps://ProductDetail/com.samsung.mygearmystyle"/>
    <tizen:metadata key="master_app_playstore_deeplink" value="market://details?id=com.samsung.mygearmystyle"/>
    <tizen:metadata key="master_app_auto_uninstallation" value="yes"/>
    <name>My Gear My Style</name>
    <tizen:privilege name="http://developer.samsung.com/tizen/privilege/accessoryprotocol"/>
    <tizen:privilege name="http://tizen.org/privilege/power"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
